@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

p, li {
  font-size: 1.2rem;
  font-weight: 300;
}

li strong {
  font-weight: 600;
}

.i-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.i-container svg {
  width: 15px;
  height: 15px;
  color: white;
}

.i-container-big {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.i-container-big svg {
  width: 40px;
  height: 40px;
  color: white;
}

.line-deco {
  width: 204px;
  height: 309px;
  position: relative;
  mask-image: url('./assets/decoration/line.svg');
  -webkit-mask-image: url('./assets/decoration/line.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.line-deco::before {
  content: '';
  position: absolute;
  top: -10%;
  right: -90%;
  width: 200%;
  height: 150%;
  background: conic-gradient(from 0deg at 50% 50%, transparent 0%, rgb(132, 204, 22) 6%, rgb(22, 163, 74) 12%, transparent 13%); 
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    right: -100%;
  }
  10% {
    right: -90%;
  }
  100% {
    transform: rotate(360deg);
    right: -100%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
